#courosel.courosel {
  display: flex;
  gap: 32px;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
#courosel .courosel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#courosel .courosel-card h6 {
  font-size: 18px;
  margin-bottom: 8px;
  white-space: nowrap;
}

#courosel .courosel-card p {
  font-size: 14px;
  white-space: nowrap;
}

#courosel .coursel-image {
  width: 120px;
  height: 120px;
  background-color: aqua;
  border-radius: 100%;
  margin-bottom: 16px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  #courosel.courosel {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
