#testimonials {
  min-height: 600px;
  background-color: var(--light);
  padding: 120px 20px;
}

#testimonials .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#testimonials .content-area {
  text-align: center;
  margin-bottom: 82px;
}

#testimonials .content-area h2 span {
  color: var(--purple-secondary);
}

#testimonials .content-area hr {
  margin: 0 auto;
  width: 62%;
  border: 1px solid var(--purple-primary);
}

@media (max-width: 768px) {
  #testimonials {
    padding: 80px 16px;
  }
}
