#about {
  min-height: 600px;
  background-color: var(--purple-primary);
  padding: 120px 16px;
}

#about .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

#about .content-area p {
  color: var(--light);
}

#about .content-area {
  text-align: left;

  max-width: 55%;
}

#about .content-area h2 {
  margin-top: 32px;
  line-height: 62px;
  margin-bottom: 64px;
  font-size: clamp(2rem, 1.5rem + 2.5vw, 3.25rem);

  color: var(--light);
}

#about .content-area span {
  color: var(--green);
}

#about .content-area h2 span {
  font-size: clamp(2rem, 1.5rem + 2.5vw, 3.25rem);
}

#about .content-area > div p {
  font-size: 14px;
  letter-spacing: 6px;
  margin-bottom: 12px;
}

#about .content-area > p {
  line-height: 32px;
}

#about .content-area hr {
  width: 26%;
  border: 1px solid var(--green);
}

@media (max-width: 768px) {
  #about {
    padding: 80px 16px;
  }
  #about img {
    width: 200px;
    height: 200px;
  }
  #about .container {
    align-items: center;
    justify-content: center;
  }

  #about .content-area {
    margin-top: 52px;
    text-align: center;
    max-width: 90%;
  }
  #about .content-area hr {
    width: 52%;
    margin: 0 auto;
  }
}
