:root {
  /* COLORS */
  --purple-primary: #2a1153;
  --purple-secondary: #7737e0;
  --green: #a8fc63;
  --light: #fbfbfb;
  --dark: #1c1c1c;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--dark);
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
  transition: 0.3s;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: clamp(2rem, 1.5rem + 2.5vw, 3.25rem);
  margin-top: 16px;
  margin-bottom: 32px;
}

h2 span {
  font-size: clamp(2rem, 1.5rem + 2.5vw, 3.25rem);
}

.paragraph-spaced {
  letter-spacing: 6px;
  margin-bottom: 12px;
}
/* components */

/* BUTTON */
.btn {
  border: none;
  cursor: pointer;
  height: 45px;
  width: 232px;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.03);
}

.btn:active {
  transform: scale(0.98);
}

.btn-green {
  background-color: var(--green);
  font-weight: 600;
}
