:root {
  /* COLORS */
  --purple-primary: #2a1153;
  --purple-secondary: #7737e0;
  --green: #a8fc63;
  --light: #fbfbfb;
  --dark: #1c1c1c;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--dark);
  font-size: 18px;
  transition: 0.3s;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* components */

/* BUTTON */
.btn {
  border: none;
  cursor: pointer;
  height: 45px;
  width: 232px;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.03);
}

.btn:active {
  transform: scale(0.98);
}

.btn-green {
  background-color: var(--green);
  font-weight: 600;
}
