#header {
  background-color: var(--purple-primary);
}

#header .menu-mobile {
  display: none;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#header .logo-area img {
  margin-top: 12px;
  margin-bottom: 12px;
}

#header .menu-desktop ul li {
  display: inline-block;
}

#header .menu-desktop ul li > button {
  margin-left: 12px;
}

#header .menu-desktop ul li a {
  color: var(--light);
  padding: 22px 16px;
  text-decoration: none;
  border-radius: 1px;
}
#header .menu-desktop ul li a:hover {
  background-color: var(--green);
  color: var(--dark);
}

@media (max-width: 768px) {
  #header .menu-desktop {
    display: none;
  }

  #header .menu-mobile {
    display: block;
  }

  #header .menu-mobile img {
    cursor: pointer;
  }
  #header .menu-mobile .hidden {
    display: none;
  }
  #header .menu-mobile .show {
    display: block;
  }

  #header .menu-mobile .showSideNav {
    width: 300px;
  }
  #header .menu-mobile .hiddenSideBar {
    width: 0;
  }

  #header .menu-mobile .sidenav {
    height: 100%; /* 100% Full-height */

    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 96px;
    right: 0;
    background-color: var(--purple-primary);

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  #header .menu-mobile .sidenav a {
    padding: 32px 64px;
    text-decoration: none;
    font-size: 25px;
    color: var(--light);
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  #header .menu-mobile .sidenav a:hover {
    background-color: var(--green);
    color: var(--dark);
  }

  #header .menu-mobile .sidenav Button {
    margin-top: 16px;
  }
  /* Position and style the close button (top right corner) */
  #header .menu-mobile .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
