#header {
  background-color: var(--purple-primary);
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo-area img {
  margin-top: 12px;
  margin-bottom: 12px;
}

#header .menu ul li {
  display: inline-block;
}

#header .menu ul li > button {
  margin-left: 12px;
}

#header .menu ul li a {
  color: var(--light);
  padding: 22px 16px;
  text-decoration: none;
  border-radius: 1px;
}
#header .menu ul li a:hover {
  background-color: var(--green);
  color: var(--dark);
}
