#header {
  background-color: var(--purple-primary);
}

#header .menu-mobile {
  display: none;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#header .logo-area img {
  margin-top: 12px;
  margin-bottom: 12px;
}

#header .menu-desktop ul li {
  display: inline-block;
}

#header .menu-desktop ul li > button {
  margin-left: 12px;
}

#header .menu-desktop ul li a {
  color: var(--light);
  padding: 22px 16px;
  text-decoration: none;
  border-radius: 1px;
}
#header .menu-desktop ul li a:hover {
  background-color: var(--green);
  color: var(--dark);
}

@media (max-width: 768px) {
  #header .menu-desktop {
    display: none;
  }

  #header .menu-mobile {
    display: block;
  }

  #header .menu-mobile img {
    cursor: pointer;
  }
  #header .menu-mobile .hidden {
    display: none;
  }
  #header .menu-mobile .show {
    display: block;
  }

  #header .menu-mobile .showSideNav {
    width: 300px;
  }
  #header .menu-mobile .hiddenSideBar {
    width: 0;
  }

  #header .menu-mobile .sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 96px;
    right: 0;
    background-color: var(--purple-primary);
    overflow-x: hidden;

    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* The navigation menu links */
  #header .menu-mobile .sidenav a {
    padding-top: 16px;
    padding-left: 12px;
    height: 52px;
    text-decoration: none;
    font-size: 18px;
    color: var(--light);
    width: 100%;
    border-bottom: 1px solid var(--light);
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  #header .menu-mobile .sidenav a:hover {
    background-color: var(--green);
    color: var(--dark);
  }

  #header .menu-mobile .sidenav Button {
    margin-top: 16px;
  }

  #header .logo-area img {
    width: 96px;
    margin-bottom: 0px;
  }
}
